body {
    background-color: black;
    color: white;
}

.myNavbar {
    background-color:  black !important;
    color: white;
}

.navbar-brand, .nav-link, .navbar {
    color: white !important;
}

.homeImages {
    max-width: 250px;
    max-height: 250px;
    width: 100%;
}


.btn-2 {
    letter-spacing: 0;
    box-sizing: inherit;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;
    color: #828282;
    cursor: pointer;
    display: block;
    position: relative;
    text-transform: uppercase;
}

.btn-2:hover,
.btn-2:active {
  letter-spacing: 5px;
}

.btn-2:after,
.btn-2:before {
  backface-visibility: hidden;
  border: 1px solid rgba(#fff, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.btn-2:hover:after,
.btn-2:hover:before {
  backface-visibility: hidden;
  border-color: #fff;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.btn-2:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

.cocktailViewImg {
    height: 500px;
    width: 500px;
    width: 100%;
}