{% extends 'base.html' %}

{% block title %}All Drinks{% endblock %}

{% block header %}

<h1>Cocktail Database</h1>
<h5>{{ data|length }} Cocktails as of {{ today }}</h5>
<small>Data Sourced from <a href="https://www.thecocktaildb.com/">TheCocktailDB</a></small>
{% endblock %}

{% block content %}
{% for d in data %}
    <div class="card m-3" style="width: 18rem; background-color: black; color: #B0B0B0">
        <img src="{{ d['strDrinkThumb']}}" class="card-img-top" alt="Image of a cocktail">
        <div class="card-body">
            <h5 class="card-title">{{ d['strDrink'] }}</h5>
            <a href="{{ url_for('cocktail_view', drink_id=d.idDrink)}}" class="btn btn-2">View Details</a>
        </div>
    </div>
{% endfor %}
{% endblock %}