{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="col-12"></div>
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ data['drinks'][0]['strDrinkThumb'] }}" alt="">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Drink</h5>
                        <p class="card-text"> {{ data['drinks'][0]['strDrink'] }}</p>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}