{% extends 'base.html' %}

{% block title %}{{ cocktail.drink_name }}{% endblock %}


{% block header %}
    <h1>{{ cocktail.drink_name }}</h1>
{% endblock %}

{% block content %}
    <div class="col-12 d-flex justify-content-center cocktailViewImg">
        <img src="{{ cocktail.image_url }}" alt="">
    </div>
    <div class="col-12 d-flex justify-content-center">
        <h4 class="mt-3">Type - {{ 'Alcoholic' if cocktail.drink_type else 'Non-Alcoholic' }}</h4>
    </div>
    <div class="col-12 d-flex justify-content-center">
        <h4 class="mt-3">Served in - {{ cocktail.glass_type }}</h4>
    </div>
    <div class="col-12 d-flex justify-content-center mt-5">
        <h4 class = 'me-3'>Ingredients</h4>
        <ul>
            <li>{{ cocktail.ingredient_1 }}</li>
            <li>{{ cocktail.ingredient_2 }}</li>
            {% if cocktail.ingredient_3 %}
            <li>{{ cocktail.ingredient_3 }}</li>
            {% endif %}
            {% if cocktail.ingredient_4 %}
            <li>{{ cocktail.ingredient_4 }}</li>
            {% endif %}
            {% if cocktail.ingredient_5 %}
            <li>{{ cocktail.ingredient_5 }}</li>
            {% endif %}
            {% if cocktail.ingredient_6 %}
            <li>{{ cocktail.ingredient_6 }}</li>
            {% endif %}
            {% if cocktail.ingredient_7 %}
            <li>{{ cocktail.ingredient_7 }}</li>
            {% endif %}
            {% if cocktail.ingredient_8 %}
            <li>{{ cocktail.ingredient_8 }}</li>
            {% endif %}
            {% if cocktail.ingredient_9 %}
            <li>{{ cocktail.ingredient_9 }}</li>
            {% endif %}
            {% if cocktail.ingredient_10 %}
            <li>{{ cocktail.ingredient_10 }}</li>
            {% endif %}
        </ul>
        <ul style="list-style-type: none;">
            <li>{{ cocktail.measure_1 }}</li>
            <li>{{ cocktail.measure_2 }}</li>
            {% if cocktail.measure_3 %}
            <li>{{ cocktail.measure_3 }}</li>
            {% endif %}
            {% if cocktail.measure_4 %}
            <li>{{ cocktail.measure_4 }}</li>
            {% endif %}
            {% if cocktail.measure_5 %}
            <li>{{ cocktail.measure_5 }}</li>
            {% endif %}
            {% if cocktail.measure_6 %}
            <li>{{ cocktail.measure_6 }}</li>
            {% endif %}
            {% if cocktail.measure_7 %}
            <li>{{ cocktail.measure_7 }}</li>
            {% endif %}
            {% if cocktail.measure_8 %}
            <li>{{ cocktail.measure_8 }}</li>
            {% endif %}
            {% if cocktail.measure_9 %}
            <li>{{ cocktail.measure_9 }}</li>
            {% endif %}
            {% if cocktail.measure_10 %}
            <li>{{ cocktail.measure_10 }}</li>
            {% endif %}
        </ul>
    </div>
    <div class="col-12 d-flex justify-content-center mt-5">
        <h4>Instructions: {{ cocktail.instructions }}</h4>
    </div>
    <div class="col-12 d-flex justify-content-center mt-5">
        <h5>By {{ cocktail.author.username }}</h5>
    </div>
    {% if cocktail.comments|length > 0 %}
        <div class="" id="comments-{{ cocktail.id }}">
            <div class="card">
                <div class="card-body" id="comments-expanded-{{cocktail.id}}">
                    {% for comment in cocktail.comments %}
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <a href="{{ url_for('profile_view', user_id=comment.user_id) }}">{{ comment.author.username }}</a>
                            {{ comment.text }}
                        </div> 
                        <div>
                            <small class="text-muted">{{ comment.date_created.strftime('%A %B %d, %Y at %I:%M%p') }}</small>
                            {% if current_user.id == comment.user_id or current_user.id == cocktail.user_id %}
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-bs-toggle="dropdown"></button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="/delete-comment/{{ comment.id }}" class="dropdown-item">Delete</a>
                                        </li>
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
            </div>
        </div>
    {% else %}
    <h4>No Comments</h4>
    {% endif %}
    <div class="col-12 d-flex justify-content-center mt-5">
        <form class="input-group mb-3" method="POST" action="/create-comment/{{ cocktail.id }}">
            <input type="text" id="text" name="text" class="form-control" placeholder="Leave a comment"/>
            <button type="submit" class="btn btn-2">Comment</button>
        </form>
    </div>
        {% if current_user == cocktail.author %}
        <div class="col-12 d-flex justify-content-center mt-3">
            <a href="{{ url_for('edit_drink', user_id=current_user.id, drink_id=cocktail.id) }}" class="btn btn-success w-25 me-5">Edit</a>
            <button type="button" class="btn btn-danger w-25 ms-5" data-bs-toggle="modal" data-bs-target="#deletePostModal">Delete</button>
        </div>
                <!-- Modal for Delete Button -->
                        <div class="modal fade" id="deletePostModal" tabindex="-1" aria-labelledby="deletePostModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header" style="color: black;">
                                        <h1 class="modal-title fs-5" id="deletePostModalLabel" style="color: black;">Delete {{ cocktail.drink_name }}?</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body" style="color: black;">
                                        Are you sure you want to delete {{ cocktail.drink_name }}? This action cannot be undone.
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <a class="btn btn-danger" href="{{ url_for('delete_drink', drink_id=cocktail.id) }}">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
        {% endif %}
{% endblock %}